@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.container {
  max-width: 400px;
  margin: 8rem auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 500%;
  height: 500%;
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
  
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 13px;
  max-height: 28px;
}

input {
  flex: 1;
  padding: 7px;
  border: 1px solid #ff0000a9;
  margin-left: 51px;
  background-color: #e1e1e100;
}

button {
  cursor: pointer;
  background-color: hsl(0, 49%, 39%);
  border: none;
  padding: 1px 12px;
  border-radius: 1px;
  font-weight: bold;
}

.buttonR {
  cursor: pointer;
  background-color: hsla(0, 1%, 31%, 0);
  border: none;
  padding: 3px 3px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 6.5px;
  box-shadow: #00000029 1px 1px 2px, #00000029 0 0 1em, #0000002f 0 0 0.2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 51px;
  color: #000000;
  font-family:'Patrick Hand', cursive;
}
